web/WEB-INF/wsdl/localhost_8080/CDStoreShoppingServer/AccountProcessingWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://accountprocessing.ws.cdstoreserver.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://accountprocessing.ws.cdstoreserver.com/" name="AccountProcessingWS">
<types>
<xsd:schema>
<xsd:import namespace="http://accountprocessing.ws.cdstoreserver.com/" schemaLocation="http://localhost:8080/CDStoreShoppingServer/AccountProcessingWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getUserInfo">
<part name="parameters" element="tns:getUserInfo"/>
</message>
<message name="getUserInfoResponse">
<part name="parameters" element="tns:getUserInfoResponse"/>
</message>
<message name="getUserAddresses">
<part name="parameters" element="tns:getUserAddresses"/>
</message>
<message name="getUserAddressesResponse">
<part name="parameters" element="tns:getUserAddressesResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<portType name="AccountProcessingWS">
<operation name="getUserInfo">
<input wsam:Action="http://accountprocessing.ws.cdstoreserver.com/AccountProcessingWS/getUserInfoRequest" message="tns:getUserInfo"/>
<output wsam:Action="http://accountprocessing.ws.cdstoreserver.com/AccountProcessingWS/getUserInfoResponse" message="tns:getUserInfoResponse"/>
</operation>
<operation name="getUserAddresses">
<input wsam:Action="http://accountprocessing.ws.cdstoreserver.com/AccountProcessingWS/getUserAddressesRequest" message="tns:getUserAddresses"/>
<output wsam:Action="http://accountprocessing.ws.cdstoreserver.com/AccountProcessingWS/getUserAddressesResponse" message="tns:getUserAddressesResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://accountprocessing.ws.cdstoreserver.com/AccountProcessingWS/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://accountprocessing.ws.cdstoreserver.com/AccountProcessingWS/addUserResponse" message="tns:addUserResponse"/>
</operation>
</portType>
<binding name="AccountProcessingWSPortBinding" type="tns:AccountProcessingWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getUserInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserAddresses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AccountProcessingWS">
<port name="AccountProcessingWSPort" binding="tns:AccountProcessingWSPortBinding">
<soap:address location="http://localhost:8080/CDStoreShoppingServer/AccountProcessingWS"/>
</port>
</service>
</definitions>