web/WEB-INF/wsdl/localhost_8443/CDStoreShoppingServer/AccountProcessingWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><xs:schema xmlns:tns="http://accountprocessing.ws.cdstoreserver.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://accountprocessing.ws.cdstoreserver.com/">

<xs:element name="addUser" type="tns:addUser"/>

<xs:element name="addUserResponse" type="tns:addUserResponse"/>

<xs:element name="getUserAddresses" type="tns:getUserAddresses"/>

<xs:element name="getUserAddressesResponse" type="tns:getUserAddressesResponse"/>

<xs:element name="getUserInfo" type="tns:getUserInfo"/>

<xs:element name="getUserInfoResponse" type="tns:getUserInfoResponse"/>

<xs:complexType name="getUserAddresses">
<xs:sequence>
<xs:element name="userId" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserAddressesResponse">
<xs:sequence>
<xs:element name="return" type="tns:addressList" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addressList">
<xs:sequence>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="errormessage" type="xs:string" minOccurs="0"/>
<xs:element name="address" type="tns:addressBean" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addressBean">
<xs:sequence>
<xs:element name="addressId" type="xs:int"/>
<xs:element name="addressType" type="xs:string" minOccurs="0"/>
<xs:element name="city" type="xs:string" minOccurs="0"/>
<xs:element name="createdDate" type="xs:string" minOccurs="0"/>
<xs:element name="isActive" type="xs:boolean"/>
<xs:element name="modifiedDate" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:string" minOccurs="0"/>
<xs:element name="state" type="xs:string" minOccurs="0"/>
<xs:element name="streetName" type="xs:string" minOccurs="0"/>
<xs:element name="streetNo" type="xs:string" minOccurs="0"/>
<xs:element name="unitNo" type="xs:string" minOccurs="0"/>
<xs:element name="userId" type="xs:int"/>
<xs:element name="zip" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUser">
<xs:sequence>
<xs:element name="user" type="tns:userBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userBean">
<xs:sequence>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="errormessage" type="xs:string" minOccurs="0"/>
<xs:element name="createdDate" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="isActive" type="xs:boolean"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="modifiedDate" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="role" type="xs:string" minOccurs="0"/>
<xs:element name="userId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:userBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserInfo">
<xs:sequence>
<xs:element name="userName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserInfoResponse">
<xs:sequence>
<xs:element name="return" type="tns:userBean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>