web/WEB-INF/wsdl/localhost_8443/CDStoreShoppingServer/ProductCatalogWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://productcatalog.ws.cdstoreserver.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://productcatalog.ws.cdstoreserver.com/" name="ProductCatalogWS">
<types>
<xsd:schema>
<xsd:import namespace="http://productcatalog.ws.cdstoreserver.com/" schemaLocation="https://localhost:8443/CDStoreShoppingServer/ProductCatalogWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getCategoryList">
<part name="parameters" element="tns:getCategoryList"/>
</message>
<message name="getCategoryListResponse">
<part name="parameters" element="tns:getCategoryListResponse"/>
</message>
<message name="getProductList">
<part name="parameters" element="tns:getProductList"/>
</message>
<message name="getProductListResponse">
<part name="parameters" element="tns:getProductListResponse"/>
</message>
<message name="getProductInfo">
<part name="parameters" element="tns:getProductInfo"/>
</message>
<message name="getProductInfoResponse">
<part name="parameters" element="tns:getProductInfoResponse"/>
</message>
<portType name="ProductCatalogWS">
<operation name="getCategoryList">
<input wsam:Action="http://productcatalog.ws.cdstoreserver.com/ProductCatalogWS/getCategoryListRequest" message="tns:getCategoryList"/>
<output wsam:Action="http://productcatalog.ws.cdstoreserver.com/ProductCatalogWS/getCategoryListResponse" message="tns:getCategoryListResponse"/>
</operation>
<operation name="getProductList">
<input wsam:Action="http://productcatalog.ws.cdstoreserver.com/ProductCatalogWS/getProductListRequest" message="tns:getProductList"/>
<output wsam:Action="http://productcatalog.ws.cdstoreserver.com/ProductCatalogWS/getProductListResponse" message="tns:getProductListResponse"/>
</operation>
<operation name="getProductInfo">
<input wsam:Action="http://productcatalog.ws.cdstoreserver.com/ProductCatalogWS/getProductInfoRequest" message="tns:getProductInfo"/>
<output wsam:Action="http://productcatalog.ws.cdstoreserver.com/ProductCatalogWS/getProductInfoResponse" message="tns:getProductInfoResponse"/>
</operation>
</portType>
<binding name="ProductCatalogWSPortBinding" type="tns:ProductCatalogWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getCategoryList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductCatalogWS">
<port name="ProductCatalogWSPort" binding="tns:ProductCatalogWSPortBinding">
<soap:address location="https://localhost:8443/CDStoreShoppingServer/ProductCatalogWS"/>
</port>
</service>
</definitions>